{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Character encoding -->
    <meta charset="UTF-8" />

    <!-- Responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Website description -->
    <meta name="description" content="A simple Django website" />

    <!-- Keywords -->
    <meta name="keywords" content="Django, Python, Web Development" />

    <!-- Author -->
    <meta name="author" content="Your Name" />

    <title>Free Palestine</title>

    <!-- Connect CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="container">
      <div class="message">
        <h1>Free Palestine</h1>
        <p>This is the home page.</p>
      </div>
    </div>
  </body>
</html>
